.btn{
    &,
    &:link, &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem ;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;

        //changes for the button
        border: none;
        cursor: pointer;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-dark, .2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active, &:focus{
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-dark, .2);  
    }
    &--white{
        color: $color-dark;
        background-color: $color-light;
        &::after{
            background-color: $color-light;
        }
    }

    &--purple{
        color: $color-light;
        background-color: $second-color;
        &::after{
            background-color: $second-color;
        }
    }
    &::after{
        content: '';
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }  
    &--animated{
        animation: moveInBottom 1s ease-in-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link, &:visited{
        font-size: $para-size;
        border-bottom: .1rem solid $second-color;
        color: $second-color;
        text-decoration: none;
        transition: all .5s;
        padding: .3rem;
        display: inline-block;
    }
    &:hover{
        background-color: $second-color;
        color: $color-light;
        border: none;
        box-shadow: 0 1rem 2rem rgba($color-dark, .15);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-dark, .15);
        transform: translateY(0);
    }
    
}